* {
    box-sizing: border-box;
}

body,
main {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    font-family: "noto-sans";
    margin: 0px;
    padding: 0px;
    position: relative;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    padding-left: 80px;
    padding-right: 80px;
}

@media (max-width: 768px) {
    .content {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media (max-width: 520px) {
    .content {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 425px) {
    .content {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.nav-bar {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 34px 18px 136px;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-bar .logo {
    display: flex;
    gap: 27px;
}

.nav-bar .logo img {
    width: 117px;
    height: auto;
}

.nav-bar .logo-text {
    display: flex;
    flex-direction: column;
}

.nav-bar .logo-text h2 {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 32px;
    color: #1F3B4D;
}

.nav-bar .logo-text p {
    font-family: "montserrat", sans-serif;
    font-size: 20px;
    color: #4A90A4;
}

.nav-bar .btn-group {
    display: flex;
    gap: 33px;
    height: 100%;
}

.nav-bar .btn-group button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.nav-bar .btn-group .line-btn {
    background-color: #15BC13;
    padding: 19px 27px;
    border: none;
    border-radius: 20px;
    display: flex;
    gap: 13px;
}

.nav-bar .btn-group .line-btn img {
    width: 47px;
}

.nav-bar .btn-group .line-btn p {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 30px;
    color: #FFFFFF;
}

.nav-bar .btn-group .budget-btn {
    background-color: #295D45;
    padding: 32px 60px;
    border: none;
    border-radius: 80px;
}

.nav-bar .btn-group .budget-btn p {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 28px;
    color: #FFFFFF;
}

.nav-bar .menu-bar {
    display: none;
}

.nav-bar .menu-bar img {
    width: 80px;
}

.nav-bar .menu-bar:hover {
    transform: translateY(2px);
}

@media (max-width: 1390px) {
    .nav-bar {
        padding-right: 20px;
    }

    .nav-bar .btn-group {
        display: none;
    }

    .nav-bar .menu-bar {
        display: block;
        cursor: pointer;
    }
}

@media (max-width:830px) {
    .nav-bar {
        padding-left: 20px;
    }
}

@media (max-width:768px) {
    .nav-bar .logo img {
        width: 90px;
    }

    .nav-bar .menu-bar img {
        width: 65px;
    }

    .nav-bar .logo-text h2 {
        font-size: 26px;
    }
}

@media (max-width:560px) {
    .nav-bar .logo {
        gap: 18px;
    }

    .nav-bar .logo img {
        width: 90px;
    }

    .nav-bar .menu-bar img {
        width: 65px;
    }

    .nav-bar .logo-text h2 {
        font-size: 22px;
    }
}

@media (max-width:470px) {
    .nav-bar .logo {
            gap: 12px;
    }

    .nav-bar .logo img {
        width: 70px;
    }

    .nav-bar .logo-text h2 {
        font-size: 18px;
    }

    .nav-bar .logo-text p {
        font-size: 15px;
    }

    .nav-bar .menu-bar img {
        width: 50px;
    }
}

.section-1 {
    width: 100%;
    height: 765px;
    background-image: url('../images/sc1-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
    padding-left: 138px;
}

.section-1 h2 {
    font-family: "inter", sans-serif;
    font-size: 38px;
    color: white;
    font-weight: normal;
    line-height: 60px;
}

.section-1 br.sp {
    display: none;
}

@media (max-width: 1260px) {
    .section-1 {
        padding: 0;
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .section-1 {
        height: 560px;
    }

    .section-1 h2 {
        font-size: 30px;
    }
}

@media (max-width: 900px) {
    .section-1 h2 {
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    .section-1 {
        height: 450px;
    }

    .section-1 h2 {
        font-size: 22px;
    }
}

@media (max-width: 660px) {
    .section-1 {
        height: 390px;
    }

    .section-1 h2 {
        font-size: 18px;
    }

    .section-1 br.sp {
        display: block;
    }
}

@media (max-width: 375px) {
    .section-1 {
        height: 265px;
    }

    .section-1 h2 {
        font-size: 16px;
        line-height: 47px;
    }
}

.section-2 {
    width: 100%;
    padding: 102px 135px 55px 135px;
    position: relative;
}

.badge-text {
    position: absolute;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 150px;
    color: #A1B7AC;
    opacity: 0.5;
    top: 16px;
    z-index: -1;
}

.section-2 .badge-text {
    right: 35px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.title h1 {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 38px;
    color: #18C172;
}

.title h3 {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: #295D45;
}


.section-2 br.sp {
    display: none;
}

.section-2 .sec-content {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.section-2 .sec-content .text {
    display: flex;
    flex-direction: column;
    min-width: 384px;
    gap: 37px;
}

.section-2 .sec-content .text p {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
}

.section-2 .sec-content .image img {
    max-width: 560px;
    width: 100%;
    height: auto;
    box-shadow: 20px 20px 0px #18C172;
}

@media (max-width: 1340px) {
    .section-2 {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 1024px) {
    .section-2 .sec-content {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 65px;
    }

    .badge-text {
        font-size: 105px;
    }

    .title h1 {
        font-size: 28px;
    }

    .title h3 {
        font-size: 18px;
    }

    .section-2 .title h3 br.sp {
        display: block;
    }
}

@media (max-width: 768px) {
    .section-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .badge-text {
        font-size: 75px;
    }

    .section-2 .badge-text {
        left: 15px;
    }

}

@media (max-width: 560px) {
    .section-2 .sec-content .text p {
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    .section-2 .sec-content .text p {
        font-size: 12px;
    }

    .title h1 {
        font-size: 23px;
    }

    .title h3 {
        font-size: 16px;
    }
}

.section-3 {
    width: 100%;
    padding: 102px 135px 55px 135px;
    position: relative;
}

.section-3 .badge-text {
    top: -65px;
    left: 35px;
}

.section-3 .title h3 {
    font-size: 21px;
}

.section-3 .title h3.sp {
    display: none;
}

.section-3 .sec-content {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
}

.section-3 .sec-content .card {
    width: 50%;
    max-width: 340px;
}

.section-3 .sec-content .card img {
    width: 100%;
    height: auto;
}

.section-3 .sec-content .card p {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 17px;
}

.section-3 .footer {
    width: 94%;
    margin: auto;
    position: relative;
    margin-top: 220px;
}

.section-3 .footer .image {
    position: absolute;
    top: -165px;
    left: -65px;
}

.section-3 .footer .text-box {
    padding: 43px 12% 34px 32%;
    border: #FFF6C5 8px solid;
    border-radius: 20px;
}

.section-3 .footer .text-box p {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 24px;
}

.section-3 .footer .text-box p:nth-of-type(2) {
    text-align: right;
}

.section-3 .footer .text-box p span{
    font-size: 28px;
    color: #F76A00;
}


@media (max-width: 1340px) {
    .section-3 {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 1024px) {
    .section-3 .title h3 {
        font-size: 18px;
    }

    .section-3 .sec-content {
        margin-top: 80px;
    }

    .section-3 .footer .image {
        top: -250px;
        left: 0;
    }

    .section-3 .footer .text-box {
        padding: 43px 10% 34px 10%;
    }
}

@media (max-width: 830px) {
    .section-3 .footer .text-box p {
        font-size: 20px;
    }

    .section-3 .footer .text-box p span {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .section-3 {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
    }

    .section-3 .badge-text {
        left: 0;
    }

    .title {
        text-align: center;
    }
    
    .section-3 .title h3.sp {
        display: block;
    }

    .section-3 .title h3.pc {
        display: none;
    }

    .section-3 .sec-content {
        gap: 40px;
        margin-top: 60px;
    }

    .section-3 .sec-content .card p {
        font-size: 14px;
        margin-top: 10px;
    }
}

@media (max-width:650px) {
    .section-3 .footer {
        margin-top: 187px;
    }

    .section-3 .footer .image {
        top: -200px;
    }

    .section-3 .footer img {
        width: 250px;
    }
}

@media (max-width:560px) {
    .section-3 .footer img {
        width: 220px;
    }

    .section-3 .footer .image {
        top: -180px;
    }

    .section-3 .footer .text-box p {
        font-size: 14px;
    }

    .section-3 .footer .text-box p span {
        font-size: 16px;
    }
}

@media (max-width:425px) {
    .section-3 .title h3 {
        font-size: 16px;
    }

}

@media (max-width:375px) {
    .section-3 .title h3 {
        font-size: 14px;
    }

    .section-3 .sec-content {
        margin-top: 40px;
    }
}

.section-4 {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #A1B7AC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 55px;
    margin-top: 100px;
}

.section-4 h2 {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 38px;
    color: #295D45;
}

.section-4 .slide-bar {
    height: 330px;
    width: 100%;
    display: flex;
    gap: 15px;
}

.section-4 .slide-bar .slide-card {
    height: 100%;
    width: 333px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 28px;
    flex-shrink: 0;
}

.section-4 .slide-bar .slide-card img {
    width: 90%;
    height: 80%;
}

.section-4 .budget-btn {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 20px;
    color: white;
    padding: 30px 70px;
    background-color: #295D45;
    border: none;
    border-radius: 50px;
}

.section-5 {
    width: 100%;
    padding: 140px 135px 55px 135px;
    position: relative;
}

.section-5 .badge-text {
    right: 35px;
    top: -40px;
}

.section-5 .sec-content {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.section-5 .sec-content .card {
    width: 34.7%;
    max-width: 500px;
    min-width: 290px;
}

.section-5 .sec-content .card img {
    width: 100%;
    height: auto;
}

.section-5 br.sp {
    display: none;
}

@media (max-width: 1340px) {
    .section-5 {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 1024px) {
    .section-5 {
        padding-top: 110px;
    }
    .section-5 .badge-text {
        top: -15px;
    }

}

@media (max-width: 810px) {
    .section-5 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .section-5 .badge-text {
        left: 15px;
        top: 0;
    }

}

@media (max-width: 650px) {
    .section-5 .title h1 br.sp {
        display: block;
    }
}

@media (max-width: 560px) {
    .section-5 .sec-content .text p {
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    .section-5 .sec-content .text p {
        font-size: 12px;
    }

}

.section-6 {
    width: 100%;
    height: 464px;
    background-image: url('../images/Rectangle\ \(14\).png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.section-6 h2 {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 28px;
    color: #FFFFFF;
    font-weight: normal;
    text-align: center;
    line-height: 50px;
}

.section-6 .budget-btn {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 28px;
    color: white;
    padding: 30px 70px;
    background-color: #295D45;
    border: none;
    border-radius: 50px;
    margin-top: 25px;
}

.section-6 h2 br.sp {
    display: none;
}

@media (max-width: 1000px) {
    .section-6 h2 {
        font-size: 24px;
    }
}

@media (max-width: 790px) {
    .section-6 h2 {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .section-6 .budget-btn {
        font-size: 20px;
        padding: 20px 50px;
    }

    .section-6 h2 br.sp{
        display: block;
    }
}

@media (max-width: 375px) {
    .section-6 h2 {
        font-size: 18px;
    }

    .section-6 .budget-btn {
        font-size: 17px;
        padding: 15px 30px;
    }
}

.section-7 {
    width: 100%;
    padding: 140px 135px 55px 135px;
    position: relative;
}

.section-7 .badge-text {
    left: 35px;
    top: -40px;
}

.section-7 .sec-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.section-7 .sec-content .card {
    width: 27%;
    max-width: 277px;
    min-width: 160px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.section-7 .sec-content .card img {
    width: 100%;
    height: auto;
}

.section-7 .third-arrow {
    display:none;
}

.section-7 .arrow-vert {
    display:none;
}

@media (max-width: 1340px) {
    .section-7 {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 1024px) {
    .section-7 {
        padding-top: 110px;
    }
    .section-7 .badge-text {
        top: -15px;
    }

    .section-7 .sec-content .card {
        width: 31%;
    }

    .section-7 .third-arrow {
        display:block;
    }
    
    .section-7 .second-arrow {
        display:none;
    }

}

@media (max-width: 810px) {
    .section-7 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .section-7 .badge-text {
        left: 15px;
        top: 0;
    }

}

@media (max-width: 650px) {
    .section-7 .title h1 br.sp {
        display: block;
    }

    .section-7 .sec-content {
        flex-direction: column;
    }

    .section-7 .sec-content .card {
        padding-bottom: 0;
        padding-top: 0;
    }

    .section-7 .arrow {
        display: none;
    }

    .section-7 .arrow-vert {
        display: block;
        margin: 20px 0;
    }

}

.section-8 {
    width: 100%;
    padding: 140px 135px 55px 135px;
    position: relative;
}

.section-8 .badge-text {
    right: 35px;
    top: -40px;
}

.section-8 .sec-content {
    display: flex;
    gap: 45px;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.section-8 .sec-content .faq-box {
    border: #18C172 2px solid;
    padding-top: 38px;
    padding-bottom: 38px;
    padding-left: 35px;
}

.section-8 .sec-content .faq-box p {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 18px;
}

@media (max-width: 1340px) {
    .section-8 {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 1024px) {
    .section-8 {
        padding-top: 110px;
    }
    .section-8 .badge-text {
        top: -15px;
    }

}

@media (max-width: 768px) {
    .section-8 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .section-8 .badge-text {
        left: 15px;
        top: 0;
    }

    .section-8 .sec-content .faq-box {
        padding-left: 15px;
    }

    .section-8 .sec-content .faq-box p {
        font-size: 14px;
    }
}
